.container{
    width: 100%;
    height: 88vh;
    overflow-y: auto;
}

.table {
    padding: 0.5rem;
}

.pagination {
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}