.mainRow{
    cursor: pointer;
}

.statusCell {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.85rem;
    padding: 4px 8px;
    border-radius: 4px;
    text-align: center;
}

.statusCell[data-status="pendente"] {
    background-color: #fff3cd;
    color: #856404;
}

.statusCell[data-status="enviado"] {
    background-color: #d1ecf1;
    color: #0c5460;
}

.statusCell[data-status="finalizado"] {
    background-color: #d4edda;
    color: #155724;
}