.form {
    display: flex;
    flex-direction: column;
    height: 85vh;
    padding: 2rem;
    row-gap: 0.8rem;
}

.products{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    height: 68%;
    overflow-y: auto;
    background-color: var(--background-medium);
    border-radius: 10px;
    padding: 1rem;
}


.form p,
h2 {
    color: var(--text-medium);
    stroke: var(--text-medium);
    font-weight: 600;
}

.form h2 {
    color: var(--text-black);
    font-size: 23px;
}

.form label, legend {
    color: var(--text-black);
    font-weight: 500;
}

.titleLine {
    display: flex;
    align-items: center;
    gap: 12px;
}

.titleLine::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: var(--text-medium);
}



.rowPrice {
    display: flex;
    column-gap: 0.5rem;
}

.rowTotals {
    display: flex;
    column-gap: 0.5rem;
}

.rowTotals input {
    background-color: var(--background-medium);
}