.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
}

.form p, h3{
    color: var(--text-medium);
    font-weight: 600;
}

.form h3{
    color: var(--text-black);
    font-size: 20px;
}

.form label{
    color: var(--text-black);
    font-weight: 500;
}

.titleLine{
    display: flex;
    align-items: center;
    gap: 12px;
}

.titleLine::after{
    content: "";
    flex: 1;
    height: 1px;
    background-color: var(--text-medium);
}

.rowPrice{
    display: flex;
    column-gap: 0.5rem;
}

.rowDetails{
    display: flex;
    column-gap: 0.5rem;
}

.rowTotals{
    display: flex;
    column-gap: 0.5rem;
}

.rowTotals input{
    background-color: var(--background-medium);
}