.menu{
    width: 100%;
    height: 2.6rem;
    background-color: var(--background-button);
    color: var(--text-light);
}

.menu ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.menu li{
    display: flex;
    cursor: pointer;
}