@import './base.css';

body {}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

:root {
  --background-light: #fefefe;
  --border: #88abd1;
  --background-button: #1369e4;
  --background-medium: #efefef;
  --background-selects: #e0e2e2;
  --text-medium: #90918e;
  --text-black: #353535;
  --text-light: #ebe8e8;

}

p {
  color: white;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input,
select {
  width: 100%;
  height: 2.3rem;
  border-radius: 5px;
  padding: 0.5rem;
  border: 1px solid var(--text-medium);
}

button {
  width: 100%;
  height: 2.3rem;
  background-color: var(--background-button);
  cursor: pointer;
  color: var(--text-light);
  border: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
}

table {
  width: 100%;
  color: var(--text-black);
  background-color: var(--background-light);
  border-radius: 12px;
  table-layout: fixed;
  overflow-y: scroll;
}

table tbody tr:nth-child(odd) {
  background-color: var(--background-medium);
}

table tbody tr:nth-child(even) {
  background-color: var(--background-light);
}