.container{
    display: flex;
    flex-direction: column;
}

.content{
    width: 100%;
    height: calc(100vh - 3rem);
    display: flex;
    column-gap: 1.5rem;
    padding: 1.5rem;
    background-color: aliceblue;
}

.displyNone{
    display: none;
}

.tables {
    width: 70%;
}