.container{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--background-light);
    border-radius: 12px;
    row-gap: 2rem;
    column-gap: 1rem;
    overflow-y: auto;
    height: 89vh;
    padding: 2rem;
}

.card{
    display: flex;
    flex-wrap: wrap;
    width: 48%;
    background-color: antiquewhite;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    padding: 1rem;
}

.card p{
    color: black;
}

